:root {
    --black: #222222;
    --gray: #eee;
    --purple: #bb73e6;
}
* {
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    margin-top: 20px;
    width: 98%;
    padding: 25px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.267)
}
header div {
    width: 25%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
header div img {
    height: 35px;
}
.search {
    background: var(--gray);
    display: flex;
    padding: 8px;
    width: 25%;
    border-radius: 20px;
    gap: 5px;
}
.search svg {
    height: 25px;
    width: 30px;
}
.search input {
    background-color: #22222200;
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    height: 25px;
}

.selectors {
    display: flex;
    gap: 10px;
    border: 1px solid gray;
    justify-content: right;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
}
.selectors button {
    background-color: var(--gray);
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

main { 
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    width: 98%;
    gap: 15px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.267);
}
.table {
    overflow-y: auto;
    border-radius: 15px;
}
table {
    width: 100%;
    align-items: center;
    justify-content: center;
    background: var(--gray);
    grid-column: 2/18;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.267);
    color:var(--black);
    border-radius: 15px;
    overflow: hidden;
    border-spacing: 0px 2px;
}

th {
    background-color: var(--gray);
    padding: 10px;
}
th:nth-child(1) {
    width: 50px;
}
th button {
    
    background-color: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 2px 5px;
    color: #464646;
    outline: none;
    border: none;
    transition: 0.3s;
}
th button:hover {
    background-color: #22222250;
    color: white;
}
td {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    width: auto;
}

tr {
 background-color: #ffffff; 
 transition: 0.5s;
}

.alignment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
}

tr:hover {
    background-color: #e4e4e4;
}

#pagination {
    display: flex;
    min-width: 250px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#pagination button:not(button.p) {
    background-color: #e7e7e7;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}

#pagination button:not(button.p):hover {
    color: white;
    background-color: #4a98ff;
    border-radius: 12px;
}