:root {
    --black: #222222;
    --gray: #eee;
    --purple: #bb73e6;
}
* {
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    margin-top: 20px;
    width: 98%;
    padding: 25px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.267)
}
header h1 {
    width: 25%;
}
.search {
    background-color: var(--gray);
    display: flex;
    padding: 8px;
    width: 25%;
    margin-right: 300px;
    border-radius: 20px;
    gap: 5px;
}
.search svg {
    height: 25px;
    width: 30px;
}
.search input {
    background-color: #22222200;
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    height: 25px;
}

.selectors {
    display: flex;
    gap: 10px;
    justify-content: right;
    width: 7%;
    padding: 10px;
    border-radius: 15px;
}
.selectors button {
    background-color: var(--gray);
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

main { 
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    width: 98%;
    gap: 15px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.267)
}
table {
    align-items: center;
    justify-content: center;
    background: var(--gray);
    grid-column: 2/18;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.267);
    color:var(--black);
    border-radius: 15px;
    overflow: hidden;
    border-spacing: 0px 2px;
}

th {
    background-color: var(--gray);
    padding: 10px;
}
th button {
    background-color: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 2px 5px;
    color: #464646;
    outline: none;
    border: none;
    transition: 0.3s;
}
th button:hover {
    background-color: #22222250;
    color: white;
}
td {
    background-color: white;
    padding: 10px;
}